<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
    <p>See <a href="{{ site.repository }}">the Git repository</a>.</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
    <a class="sidebar-nav-item{% if page.title == 'Blog' %} active{% endif %}" href="{{ '/blog/' | absolute_url }}">Blog</a>

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% for tag in node.tags %}
            {% if tag == "sidebar" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      Copyright &copy; 2015&ndash;{{ site.time | date: '%Y' }} {{ site.author.name }}
    </p>
  </div>
</div>
